@charset "UTF-8";
body{
		margin: 0;
	padding: 0;
	font-family: 'lato', sans-serif;
}
.singup_container{
	position: relative;
	height: 100vh;
}
.singup_box{
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.9)),
	url(login.jpg);
	background-size: cover;
	padding: 40px;
	box-shadow: 0 15px 25px rgba(0,0,0,0.6);
}
.singup_box h2{
	margin: 0 0 30px;
	letter-spacing: 4px;
	text-transform: uppercase;
	padding: 0;
	color: #fff;
	text-align: left;
}
.singup_box .sing_box{
	position: relative;
}
.singup_box .sing_box input{
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid #fff;
	outline: none;
	background-color: transparent;
}
.singup_box .sing_box label{
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	pointer-events: none;
	transition: 0.5s;
}
.singup_box .sing_box input:focus ~ label,
.singup_box .sing_box input:valid ~ label{
	top: -20px;
	color: #03e9f4;
	font-size: 12px;
}
input[type=submit]{
	display: inline-block;
	padding: 10px 20px;
	color: #fff;
	font-size: 16px;
	text-decoration: none;
	text-transform: uppercase;
	transition: 0.5s;
	margin-top: 20px;
	letter-spacing: 4px;
	background-color: C9E4FF;
	border: 1px solid fff;
}
input[type=submit]{
	background-color: #C9E4FF;
	color: #fff;
	box-shadow: 0 0 5px C9E4FF,
				0 0 25px C9E4FF,
				0 0 50px C9E4FF,		
				0 0 100px C9E4FF,		
}
